html {
  height: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;   
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  
  --main-element-color: rgba(0,0,0,.5);
  --main-background-color: rgb(17 35 39);
  --dark-background-color: #091416;
  --main-font-color: white; 
  --main-border-color: #6b868f; /* rgba(255,255,255,.1);*/
  --section-border-color: rgba(0,0,0,.3);
  --highlight-color: rgb(255,56,92);
}

body {
  margin: 0px;
  color: var(--main-font-color);
}


#root {
  background-color: var(--main-background-color);
}  
