
.nav-bar {
  display: flex;
  width: 100%; 
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 80px;
  border-bottom: 2px solid var(--main-border-color);
  background-color: var(--main-background-color);
  height: 80px;
  min-height: 80px;
  color: var(--main-font-color)
}

.nav-bar-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 64px
}

.nav-bar-links {
  text-decoration: none;
  padding: 10px;
}

.all-spots-link:hover {
  cursor: pointer;
}

.logo:hover {
  cursor: pointer;
}

.logo {
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-text-upper {
  font-size: 22px;
  position: relative;
  top: 4px;
}

.logo-text-lower {
  font-size: 15px;
  color: rgb(255,56,92);
  position: relative;
  bottom: 4px;
}

.profile-hamburger {
  border: 1px solid;
  border-color: var(--main-border-color);
  width: 77px; 
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 21px;
  gap: 13px;
}

.profile-hamburger:hover {
  cursor: pointer;
  
}

.profile-hamburger > i {
  color: var(--main-font-color);
}
