.nav-bar {
  display: flex;
  width: 100%; 
  justify-content: space-between;
  align-items: center;
}

.nav-bar-links {
  text-decoration: none;
  padding: 10px;
}

.profile-dropdown {
  border: 1px black solid;
}
