
.nav-bar {
  display: flex;
  width: 100%; 
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 80px;
  border-bottom: 2px solid var(--main-border-color);
  background-color: var(--main-background-color);
  height: 80px;
  min-height: 80px;
}

.nav-bar-links {
  text-decoration: none;
  padding: 10px;
}

.profile-hamburger {
  border: 1px solid;
  border-color: var(--main-element-color);
  width: 77px; 
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 21px;
  gap: 13px;
}

.profile-hamburger:hover {
  cursor: pointer;
  
}

.profile-hamburger > i {
  color: var(--main-element-color); 
}
