li {
  list-style-type: none;
  margin: 8px;
}

.profile-dropdown {
  position: absolute;
  padding: 16px;  
  background-color: var(--main-background-color);
  width: 240px;
  right: 50px;
  border-radius: 9px;
  border: 1px solid var(--main-element-color);
}

.profile-dropdown > * {
  padding: 4px 8px;
}

.dropdown-clickable:hover{
  cursor: pointer;
}

.dropdown-user {
  font-weight: bold; 
}
